# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\zhouyujie\idea\code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
